<style type="text/css">
<!--
.STYLE1 {color: #990000}
-->
</style>
<span class="STYLE1">{msg} </span>
<table width="90%" id="maintable">
    <tr>
      <th colspan="7">List Function </th>
    </tr>
    <tr>
      <th width="13%" align="center" valign="middle">ID</th>
      <th width="13%" align="center" valign="middle"><strong>
        <label for="checkbox_row_28">Name</label>
      </strong></th>
      <th width="12%" valign="middle"><strong>gender</strong></th>
      <th width="18%" valign="middle">avatar</th>
      <th width="18%" valign="middle">role</th>
      <th width="18%" valign="middle">status</th>
      <th width="21%" valign="middle">email</th>
    </tr>
	<!-- BEGIN list -->
    <tr>
      <td align="center" valign="middle">{id}</td>
	  <td align="center" valign="middle">{name}</td>
      <td align="center" valign="middle">{gender}</td>
      <td align="center" valign="middle">{avatar}</td>
      <td align="center" valign="middle">{role}</td>
      <td align="center" valign="middle">{status}</td>
      <td align="center" valign="middle">{email}</td>
    </tr>
	<!-- END list -->
</table>